@model IEnumerable<Organizer.Entity.UserEvent>

@{
    ViewBag.Title = "IJoined";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@TempData["LeaveFrom"] = "IJoined";*@

<h2>Katıldığım Etkinlikler</h2>

<p>
    @Html.ActionLink("+ Yeni Etkinlik", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Etkinlik Adı
        </th>
        <th>
            Katılımcı Sayısı
        </th>
        <th>
            Katılımcı Sayısı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.EventID)*@
            @Html.DisplayFor(modelItem => item.Events.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Events.NumberOfJoined)/@Html.DisplayFor(modelItem => item.Events.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Events.Users.Name)
            @Html.ActionLink("Mesaj Gönder", "SendMessage", "Message", new { ownerID = item.Events.OwnerID }, htmlAttributes: new { })

        </td>
        <td>
            @Html.ActionLink("Ayrıl", "LeaveEvent", "Event", new { id = item.Events.ID }, htmlAttributes: new { })
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
