@model IEnumerable<Organizer.Entity.Events>
@using Organizer.Entity
@using Organizer.BLL
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tüm Etkinlikler</h2>

<p>
    @Html.ActionLink("+ Yeni Etkinlik", "CreateEvent")
</p>
<table class="table">
    <tr>
        <th>
            Resim
        </th>
        <th>
            Etkinlik Adı
        </th>
        <th>
            Oluşturan Kişi
        </th>
        <th>
            Kontenjan
        </th>
        <th>
            Etkinlik Tarihi
        </th>
        @*<th>
                Kategori
            </th>*@
        <th>
            Başvuru Tarihi
        </th>
        <th>
            Açıklama
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Name)
                @Html.ActionLink("Mesaj Gönder", "SendMessage", "Message", new { ownerID = item.Users.ID }, htmlAttributes: new { })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfJoined)/@Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.ActionLink("Düzenle", "Edit", new { id=item.ID }) |*@
                @Html.ActionLink("Detaylar", "Details", new { id = item.ID })

                @{
                    EventBLL eventBLL = new EventBLL();
                    Users user = Session["User"] as Users;
                    List<UserEvent> uel = eventBLL.GetIJoined(user.ID);

                    @*//BİRİNCİ ÇÖZÜM
                        int joined = 0;
                        foreach (UserEvent ue in uel)
                        {
                            if (ue.EventID == item.ID)
                            {
                                @Html.Label("Katıldın")
                                joined++;
                            }
                        }

                        if (joined == 0)
                        {
                            @Html.ActionLink("Katıl", "JoinEvent", new { id = item.ID });
                        }*@

                    //TODO hangisi daha hızlı çalışır sor

                    //İKİNCİ ÇÖZÜM
                    var list = new List<int>();
                    foreach (UserEvent ue in uel)
                    {
                        list.Add(ue.EventID);
                    }

                    if (item.NumberOfJoined < item.Capacity)
                    {
                        if (list.Contains(item.ID))
                        {
                            @Html.ActionLink("Ayrıl", "LeaveEvent", new { id = item.ID }) //TODO ayrılma linkini kırmızı yap

                            @*<a href="Event/LeaveEvent" style="color: red">Ayrıl</a>*@ //TODO id ile göndermeyi öğren
                        }
                        else
                        {
                            @Html.ActionLink("Katıl", "JoinEvent", new { id = item.ID, capacity = item.Capacity, numberOfJoined = item.NumberOfJoined });
                        }
                    }
                    else
                    {
                        if (list.Contains(item.ID))
                        {
                            @*<a href="Event/LeaveEvent" style="color: red">Ayrıl</a>*@
                            @Html.ActionLink("Ayrıl", "LeaveEvent", new { id = item.ID }); //TODO ayrılma linkini kırmızı yap
                        }
                        else
                        {
                            <b style="color: darkmagenta">Dolu!</b>
                        }

                    }





                }

            </td>
        </tr>
    }

</table>
