@model IEnumerable<Organizer.Entity.Messages>

@{
    ViewBag.Title = "MyMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mesajlarım</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Gönderen
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ReceiverID)
            </th>*@
        <th>
            Mesaj
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.SenderID)*@
                @Html.DisplayFor(modelItem => item.Users.Name)

            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ReceiverID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
                @Html.ActionLink("Cevapla", "ReplyMessage", new { senderID = item.SenderID }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
